<div class="space-y-6 py-8 px-4">
  <div class="w-full">
    <div>
      <h1 class="text-3xl font-bold mb-2">Learn New Words</h1>
      <p class="text-muted-foreground" *ngIf="currentState === State.View">
        Choose a vocabulary topic to start learning new English words and expand
        your language skills.
      </p>
    </div>
    <div *ngIf="currentState === State.View" class="flex justify-end mb-4">
      <button
        (click)="changeToCreate()"
        class="w-fit inline-flex items-center justify-center gap-2 rounded-md px-4 py-2 border border-primary text-primary text-primary-foreground bg-navy-header hover:opacity-90"
      >
        Thêm topic mới
      </button>
    </div>
    <div
      *ngIf="currentState === State.View"
      class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
    >
      @for (topic of topics; track $index) {
      <app-topic-card
        (detail)="onViewDetail($event)"
        (delete)="onDelete($event)"
        [topic]="topic"
      ></app-topic-card>
      }
    </div>
    <div *ngIf="currentState === State.Create">
      <app-vocab-topic-form
        (save)="onCreateTopic($event)"
        (cancel)="onCancel()"
      ></app-vocab-topic-form>
    </div>

    <div class="mt-8" *ngIf="currentState === State.View">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>
<app-confirm-dialog
  [isVisible]="isShowConfirmDialog"
  title="Xóa từ vựng"
  message="Bạn có chắc chắn muốn xóa từ vựng này? Hành động này không thể hoàn tác."
  confirmText="Xóa"
  cancelText="Hủy"
  confirmButtonClass="form-button-danger"
  cancelButtonClass="form-button-secondary"
  (confirm)="confirmDelete()"
  (cancel)="onCancelDelete()"
></app-confirm-dialog>
