/* Style cho range input chung */
input[type='range'] {
  @apply appearance-none bg-transparent cursor-pointer w-full;

  &::-webkit-slider-runnable-track {
    @apply h-2 rounded-full bg-gray-200;
  }

  &::-moz-range-track {
    @apply h-2 rounded-full bg-gray-200;
  }

  &::-webkit-slider-thumb {
    @apply appearance-none h-4 w-4 rounded-full bg-primary;
    margin-top: -4px; // căn giữa thumb
  }

  &::-moz-range-thumb {
    @apply h-4 w-4 rounded-full bg-primary border-0;
  }


}
