<div class="flex justify-center gap-2 mt-4">
  <!-- Previous -->
  <button
    class="btn-outline px-3 py-1 text-sm text-white"
    (click)="prevPage()"
    [disabled]="currentPage <= 1"
  >
    <fa-icon [icon]="faChevronLeft" class="w-4 h-4"></fa-icon>
    Previous
  </button>

  <!-- Page numbers -->
  <div class="flex p-2 rounded-md">
    <button
      *ngFor="let page of pages"
      (click)="goToPage(page)"
      [class.bg-primary]="currentPage === page"
      [class.text-black]="currentPage !== page"
      class="border px-2 py-1 rounded w-8 h-8 text-sm text-white bg-navy-header"
    >
      {{ page }}
    </button>
  </div>

  <!-- Next -->
  <button
    class="btn-outline px-3 py-1 text-sm text-white"
    (click)="nextPage()"
    [disabled]="currentPage >= totalPages"
  >
    Next
    <fa-icon [icon]="faChevronRight" class="w-4 h-4"></fa-icon>
  </button>
</div>
